In [1]:
import pandas as pd

In [2]:
wiki = pd.read_csv("./src/wiktionary_words.csv", header=None)
wiki.head()

                             0
0                            ஃ
1                     ஃபாசிசம்
2  ஃபால்ஸ்-ஸ்டூவெர்ட்_காற்றாலை
3                    ஃபைலேரியா
4                            அ

In [3]:
wiki.tail()

                    0
95387              ஹௌ
95388              ஹ்
95389        ஹ்ரஸ்வம்
95390       ஹ்ருதீகரி
95391  ஹ்ருதீகரித்தல்

In [4]:
random_word_1 = wiki.iloc[3, 0]
random_word_1

'ஃபைலேரியா'

In [5]:
for i in random_word_1:
    print(i, ord(i))

ஃ 2947
ப 2986
ை 3016
ல 2994
ே 3015
ர 2992
ி 3007
ய 2991
ா 3006

In [6]:
random_word_2 = wiki.iloc[95387, 0]
random_word_2

'ஹௌ'

In [7]:
for i in random_word_2:
    print(i, ord(i))

ஹ 3001
ௌ 3020

In [8]:
random_word_3 = wiki.iloc[95363, 0]
random_word_3

'ஹெஜீப்'

In [9]:
for i in random_word_3:
    print(i, ord(i))

ஹ 3001
ெ 3014
ஜ 2972
ீ 3008
ப 2986
் 3021

In [10]:
# Tamil
# Range: 0B80–0BFF

for i in range(0xB80, 0xBFF + 1):
    print(chr(i))

஀
஁
ஂ
ஃ
஄
அ
ஆ
இ
ஈ
உ
ஊ
஋
஌
஍
எ
ஏ
ஐ
஑
ஒ
ஓ
ஔ
க
஖
஗
஘
ங
ச
஛
ஜ
஝
ஞ
ட
஠
஡
஢
ண
த
஥
஦
஧
ந
ன
ப
஫
஬
஭
ம
ய
ர
ற
ல
ள
ழ
வ
ஶ
ஷ
ஸ
ஹ
஺
஻
஼
஽
ா
ி
ீ
ு
ூ
௃
௄
௅
ெ
ே
ை
௉
ொ
ோ
ௌ
்
௎
௏
ௐ
௑
௒
௓
௔
௕
௖
ௗ
௘
௙
௚
௛
௜
௝
௞
௟
௠
௡
௢
௣
௤
௥
௦
௧
௨
௩
௪
௫
௬
௭
௮
௯
௰
௱
௲
௳
௴
௵
௶
௷
௸
௹
௺
௻
௼
௽
௾
௿

In [11]:
au = 0x0BCC
ka = 0x0B95
print(chr(ka) + chr(au) + chr(0x0BB0) + chr(0x0BBF))

கௌரி

In [12]:
target = "./src/cleaned_wiktionary_words.csv"

wiki = wiki[~(wiki[0].str.contains(r'[-._\s]'))]

In [13]:
tam_uni = pd.read_csv("./src/tamil_unicode.csv", header=None)
tam_uni.head()

        0  1                    2
0  U+0B82  ஂ  TAMIL-SIGN-ANUSVARA
1  U+0B83  ஃ   TAMIL-SIGN-VISARGA
2  U+0B85  அ       TAMIL-LETTER-A
3  U+0B86  ஆ      TAMIL-LETTER-AA
4  U+0B87  இ       TAMIL-LETTER-I

In [14]:
def unicode_to_base10(unicode):
    return int(unicode[2:], base=16)

In [15]:

tam_uni_b10 = tam_uni
tam_uni_b10[0] = tam_uni_b10[0].apply(lambda unicode: unicode_to_base10(unicode))

In [16]:
tam_uni_b10

       0  1                    2
0   2946  ஂ  TAMIL-SIGN-ANUSVARA
1   2947  ஃ   TAMIL-SIGN-VISARGA
2   2949  அ       TAMIL-LETTER-A
3   2950  ஆ      TAMIL-LETTER-AA
4   2951  இ       TAMIL-LETTER-I
..   ... ..                  ...
67  3062  ௶     TAMIL-DEBIT-SIGN
68  3063  ௷    TAMIL-CREDIT-SIGN
69  3064  ௸  TAMIL-AS-ABOVE-SIGN
70  3065  ௹     TAMIL-RUPEE-SIGN
71  3066  ௺    TAMIL-NUMBER-SIGN

[72 rows x 3 columns]

In [17]:
def word_to_arr(word):
    x = []
    for i in word:
        x.append(ord(i))
    
    return x


valid_unicodes = tam_uni_b10.iloc[:, 0].tolist()

to_remove = []

for word in wiki.iloc[:, 0]:
    arr = word_to_arr(word)
    for i in arr:
        if i not in valid_unicodes:
            to_remove.append(word)
            break


target = "./src/cleaned_wiktionary_words.csv"
wiki = wiki[~(wiki[0].isin(to_remove))]
wiki.to_csv(target, index=False, header=False)

In [18]:
target = "./src/tamil_unicode_b10.csv"

tam_uni_b10.to_csv(target, index=False, header=False)

In [19]:

def unicode_hyp_to_b10_hyp(unicode_hyp):
    unicode_arr = unicode_hyp.split("-")

    b10_arr = []
    for unicode in unicode_arr:
        if unicode != "":
            b10_arr.append(str(unicode_to_base10(unicode)))

    b10_hyp = "-".join(b10_arr)
    if b10_hyp == "":
        return "-"
    
    return b10_hyp

In [20]:
src = "./src/tamil_letters_similar_pronounc.csv"

tam_err = pd.read_csv(src, header=None)

tam_err[0] = tam_err[0].apply(lambda unicode: unicode_to_base10(unicode))
tam_err[3] = tam_err[3].apply(lambda unicode_hyp: unicode_hyp_to_b10_hyp(unicode_hyp))

In [21]:
tam_err

       0  1                    2     3
0   2946  ஂ  TAMIL-SIGN-ANUSVARA     -
1   2947  ஃ   TAMIL-SIGN-VISARGA     -
2   2949  அ       TAMIL-LETTER-A  2950
3   2950  ஆ      TAMIL-LETTER-AA  2949
4   2951  இ       TAMIL-LETTER-I  2952
..   ... ..                  ...   ...
67  3062  ௶     TAMIL-DEBIT-SIGN     -
68  3063  ௷    TAMIL-CREDIT-SIGN     -
69  3064  ௸  TAMIL-AS-ABOVE-SIGN     -
70  3065  ௹     TAMIL-RUPEE-SIGN     -
71  3066  ௺    TAMIL-NUMBER-SIGN     -

[72 rows x 4 columns]

In [22]:
target = "./src/tamil_letters_similar_pronounc_b10.csv"

tam_err.to_csv(target, index=False, header=False)